<!--  {% form 'customer_login' %} {{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="customer[email]" />

<label for="customer_password">Password</label>
<input type="password" name="customer[password]" />

<input type="submit" value="Sign In" />

{% endform %}  -->
<div class="container pb50">
                <div class="flex-wrapper account-forms-wrapper">
                    <div class="half login-form-wrapper">
                        {% form 'customer_login' %} {{ form.errors | default_errors }}

                            <h2>Welcome Back</h2>
                            <p class="subtitle">Please log in with your credentials.</p>
                
                            
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide user-name">
                                <!-- <label for="username">&nbsp;<span class="required">*</span></label> -->
                                <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="customer[email]" id="username" autocomplete="username" placeholder="Email" value=""/>
                      		</p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide password">
                                <!-- <label for="password">&nbsp;<span class="required">*</span></label> -->
                                <span class="password-input"><span class="show-password-input"></span><input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="customer[password]" id="password" autocomplete="current-password" placeholder="Password"></span>
                            </p>
                
                            
                            <p class="lost_password text-right">
                                <a href="#recover">Forgot Password?</a>
                            </p>
                
                            <p class="form-row form-submit-button">
<!--                                 <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                    <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                </label> -->
                                <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Log in">Log in</button>
                            </p>                                            
                        {% endform %} 
                    </div>
                    <div class="half">
                      
                        {% form 'create_customer' %} {{ form.errors | default_errors }}

                            <h2>Register</h2>
                            <p class="subtitle">Sign up and you’ll be able to manage your account.</p>
                
                                <p class="form-row form-row-wide user-name">
                        <!-- <label for="reg_billing_first_name"><span class="required">*</span></label> -->
                        <input type="text" class="input-text" name="customer[first_name]" placeholder="First Name" id="reg_billing_first_name" value="">
                    </p>
                    <p class="form-row form-row-wide user-name">
                        <!-- <label for="reg_billing_last_name"><span class="required">*</span></label> -->
                        <input type="text" class="input-text" name="customer[last_name]" placeholder="Last Name" id="reg_billing_last_name" value="">
                    </p>
                    <div class="clear"></div>
                    
                            
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide user-email">
                                <!-- <label for="reg_email">&nbsp;<span class="required">*</span></label> -->
                                <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="customer[email]" id="reg_email" autocomplete="email" placeholder="Email address" value="">			</p>
                
                            
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide password">
                                    <!-- <label for="reg_password">&nbsp;<span class="required">*</span></label> -->
                                    <span class="password-input"><span class="show-password-input"></span><input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="customer[password]" id="reg_password" autocomplete="new-password" placeholder="Password"></span>
                                </p>
                
                            
                            <div class="woocommerce-privacy-policy-text"><p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="https://skc.dev-ss-pro.com/privacy-policy/" class="woocommerce-privacy-policy-link" target="_blank">privacy policy</a>.</p>
                </div>
                            <p class="woocommerce-form-row form-row">
                                <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="379760cf80"><input type="hidden" name="_wp_http_referer" value="/my-account/">				<button type="submit" class="woocommerce-Button woocommerce-button button woocommerce-form-register__submit" name="register" value="Register">Register</button>
                            </p>
                
                            
{% endform %} 
                    </div>
                </div>
</div>