<!-- /templates/customers/reset_password.liquid -->
{% form 'recover_customer_password' %} {{ form.errors | default_errors}}

<label for="customer_email">Email Address</label>
<input type="email" name="email" />

<input type="submit" value="Submit" />

{% endform %} 