<div class="container pb50">
                <div class="inner-small-wrap text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin diam turpis, iaculis eu tellus nec, hendrerit ultrices quam. </p>
                    <div class="">
                        <form class="woocommerce-form woocommerce-form-login" method="post">                                                                                    
                            <div class="row">
                            <div class="form-control half">
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" placeholder="Name" value="">
                            </div>
                            <div class="form-control half">
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" placeholder="Phone" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control half">
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" placeholder="Email" value="">
                        </div>
                            <div class="form-control half">
                            <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" placeholder="Business Address">
                        </div>
                    </div>
                    <div class="row">
                            <div class="form-control half">
                            <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" placeholder="Business Name">
                        </div>
                        <div class="form-control half">
                            <select name="businesstype" id="businesstype">
                                <option value="1">Small</option>
                                <option value="2">Medium</option>
                                <option value="3">Large</option>
                                <option value="4">Enterprise</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control full">
                            <textarea class="full" placeholder="Additional info"></textarea>
                        </div>
                    </div>
                            <button type="button" class="btn-primary">Register interest</button>
                        </form>
                    </div>
                </div>                
            </div>